.GioSP{
	height: 250px;
}
.XemHoaDon{
	height: 250px;
}
.CTHD-ThongTinKhachHang{
	margin-left: 200px;
}
.GioSPCol1{
	margin-left: 60px;
	border: 1px solid #f1f1f1;
	width: 9%;
	height: 100%;
	float: left;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
    font-family: Palatino Linotype;
	color: grey;
}
.XemHDCol1{
	margin-left: 60px;
	border: 1px solid #f1f1f1;
	width: 9%;
	height: 100%;
	float: left;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
    font-family: Palatino Linotype;
	color: grey;
}
.GioSPCol2 img{
	border: 1px solid #f1f1f1;
	width: 17%;
	height: 250px;
	float: left;
}
.GioSPCol3{
	border: 1px solid #f1f1f1;
	width: 60%;
	height: 100%;
	float: left;
}
.XemHDCol2{
	border: 1px solid #f1f1f1;
	width: 80%;
	height: 100%;
	float: left;
}
.GioSPCol3Row1{
	width: 100%;
	height: 18%;
	float: left;
}
.GioSPCol3Row1Col2{
	width: 75%;
	height: 100%;
	float: left;
	text-align: left;
	margin-top: 35px;
	font-size: 20px;
	color: grey;
}
.GioSPCol3Row2{
	width: 100%;
	height: 18%;
	float: left;
}
.GioSPCol3Row3{
	width: 100%;
	height: 18%;
	float: left;
}
.GioSPCol3Row3Col0{
	width: 8%;
	height: 100%;
	float: left;
	text-align: center;
	margin-top: 35px;
	font-size: 20px;
	color: grey;
}
.GioSPCol3Row3Col1{
	width: 15%;
	height: 100%;
	float: left;
	text-align: left;
	margin-top: 35px;
	font-size: 20px;
	color: grey;
}
.GioSPCol3Row3Col2{
	width: 65%;
	height: 100%;
	float: left;
	margin-bottom: 40px;
}
.GioSPCol3Row4{
	width: 100%;
	height: 18%;
	float: left;
}
.GioSPCol3Row5{
	width: 70%;
	height: 18%;
	float: left;
}
.GioSPTongHoaDon{
	width: 100%;
	height: 100%;
	float: left;
	text-align: center;
	margin-top: 35px;
	margin-left: 100px;
	font-size: 20px;
	color: grey;
}
.HDrow{
	width: 100%;
	height: 90px;
	float: left;
	text-align: left;
	margin-top: 35px;
	font-size: 20px;
	color: grey;
}
.HDrow1{
	width: 100%;
	height: 15px;
	float: left;
	text-align: left;
	margin-top: 35px;
	font-size: 20px;
	color: grey;
}
.HDrowDC{
	width: 500px;
	height: 50px;
	float: left;
	text-align: left;
	color: grey;
}
.SP{
	width: 100%;
	float: left;
	text-align: left;
	margin-top: 35px;
	font-size: 20px;
	color: grey;
}
.SProw1{
	width:100%;
	height: 30px;
	float: left;
}
.SProw2{
	width:100%;
	height: 60px;
	float: left;
	margin-left: 10px;
	text-align: center;
}
.SProw2col{
	margin-top:5px;
	width: 20%;
	min-height: 100%;
	border: 1px solid grey;
	float: left;
}
.Arow1{
    position: relative;
    margin-top: 40px;
    margin-left: 100px;
    float: left;
    width: 40%;
    height: 700px;
}
.Arow1-row1{
    position: relative;
    float: left;
    width: 100%;
    height: 10%;
	font-size: 38px;
	font-weight: bold;
    font-family: Palatino Linotype;
	color: grey;
	background-color: #f1f1f1;
	border: 1px solid #f1f1f1;
}
.Arow1-row1-col1{
	margin-top: 10px;
    position: relative;
    float: left;
    width: 70%;
    height: 100%;
	margin-left: 20px;
	font-size: 38px;
	font-weight: bold;
}
.Arow1-row1-col2{
	margin-top: 10px;
    position: relative;
    float: right;
    width: 12%;
    height: 100%;
	font-size: 38px;
	font-weight: bold;
	color: pink;
}
.Arow1-row2{
	border: 1px solid #f1f1f1;
    position: relative;
    float: left;
    width: 100%;
    height: 40%;
    margin-top: 10px;
	font-size: 18px;
	font-weight: bold;
    font-family: Palatino Linotype;
	color: grey;
}
.Arow1-row2-cel{
    margin-left: 25px;
}
.Arow1-row3{
    position: relative;
    float: left;
    width: 100%;
    height: 20%;
}
.Arow1-row3-col1{
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}
.Arow1-row3-col1-row1{
    position: relative;
    float: left;
    width: 100%;
    height: 10%;
}
.Arow1-row3-col2{
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}
.addFlower{
    position: relative;
    float: left;
    width: 40%;
    height: 700px;
}
.addFlower1{
    position: relative;
    float: left;
    width: 30%;
    height: 700px;
}
.Aanhhoa1 img{
    width: 100%;
    height: 570px;
    margin-left: 35px;
    margin-bottom: 80px;
}
.anhhoa1 img{
    width: 93%;
    height: 335px;
    margin-top: 13px;
    margin-left: 13px;
    margin-bottom: 80px;
}
.anhhoa2 img{
    width: 325px;
    height: 250px;
    margin-top: 13px;
    margin-left: 13px;
    margin-bottom: 100px;
}
.rowh{
    float: left;
    margin-left: 20px;
}
#seachTT{
    float: left;
    margin-left:2%;
    margin-top: 100px;
}
#logo{
    float: left;
    width: 25% ;
    margin-left: 10%;
 }
#slogan{
	width: 25%;
    float: right;
    margin-right: 0%;
}
.row1{
    position: relative;
    margin-top: 40px;
    float: left;
    width: 24%;
    height: 500px;
}
.row1bf{
    position: relative;
    margin-top: 40px;
    margin-left: 10px;
    float: left;
    width: 1%;
}
.row1:hover{
    background: pink;
	text-decoration:none;
}
.row3{
    position: relative;
    margin-top: 40px;
    margin-left: 10px;
    float: left;
    width: 24%;
    height: 500px;
}
.row2{
    position: relative;
    margin-top: 40px;
    float: left;
    width: 24%;
    height: 415px;
}
.row2:hover{
    background: pink;
	text-decoration:none;
}
.anhhoa1asu{
	height: 165px;
    font-family: monospace;
    color: black;
    font-size: 30px;
    position: absolute;
    bottom: 0px;
    margin-left: 20px;
	text-decoration: none;
}
.deleteFlower{
    position: relative;
	width: 6px;
	height: 6px;
	float: left;
}
.flowerInf{
	height: 40%;
}
.flowerED{
	height: 33%;
}
.flowerEdit{
	width: 30%;
	margin-top: 5px;
	margin-left: 1px;
	float: left;
}
.flowerDelete{
	width: 30%;
	margin-top: 5px;
	margin-left: 20px;
	float: left;
}
.flowerS{
	margin-top: 5px;
	margin-left: 35px;
	width: 5%;
	font-family: "Times New Roman", Times, serif;
	float: left;
}
#menu{
	margin-bottom: 15px;
	margin-top: 15px;
}
#menu ul{
    list-style-type: none;
    background: pink;
    text-align: center;
}
#menu ul li{
    color: #f1f1f1;
    display: inline-table;
    width:  200px;
    height: 60px;
    line-height: 60px;
    position: relative;
	text-decoration:none;
	font-size: 22px;
}
#menu ul li a {
    color: #f1f1f1;
    text-decoration-style: none;
    display: block;
	text-decoration:none;
}
#menu ul li a:hover{
    background: #f1f1f1;
    color: #333;
	text-decoration:none;
}
#menu ul li > .sub-menu{
    display: none;
    position: absolute;
}
#menu ul li:hover .sub-menu{
    display: block;
    z-index: 2;
}
#menu-mobile{
    display: none;
}
#seach-mobile{
    display: none;
}
@media only screen and (max-width: 1024px){
    #menu{
        display: none;
    }
    #seachTT{
        display: none;
    }
    #slogan{
        display: none;
    }
    #seach-mobile{
        float: left;
        display: inline;
        position: fixed;
    }
    #menu-mobile{
        float: left;
        display: inline;
        position: fixed;
    }

}
.btnEdit {
	width: 100px;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 4px;
	outline:none;
	padding: 12px 14px;
	transition: 0.6s ease-in-out;
	float: right;
}
.btnThemVaoGioHang {
	width: 200px;
	box-sizing: border-box;
	border: 0px solid black;
	border-radius: 4px;
	outline:none;
	padding: 12px 14px;
	float: right;
	margin-right: 30px;
	background-color:pink;
	margin-top: 30px;
	font-size: 18px;
	font-family: "Times New Roman", Times, serif;
	color: white;
	font-weight: bold;
}
.btnDatHang {
	width: 200px;
	box-sizing: border-box;
	border: 0px solid black;
	border-radius: 4px;
	outline:none;
	padding: 12px 14px;
	float: right;
	margin-right: 250px;
	margin-bottom: 70px;
	background-color:pink;
	margin-top: 60px;
	font-size: 18px;
	font-family: "Times New Roman", Times, serif;
	color: white;
	font-weight: bold;
}
.btnThanhToan {
	width: 300px;
	box-sizing: border-box;
	border: 0px solid black;
	border-radius: 4px;
	outline:none;
	padding: 12px 14px;
	float: right;
	background-color:pink;
	margin-top: 10px;
	font-size: 18px;
	font-family: "Times New Roman", Times, serif;
	color: white;
	font-weight: bold;
}
.btnTangSoLuong {
	width: 30px;
	height: 30px;
	box-sizing: border-box;
	border: 1px solid grey;
	border-radius: 4px;
	outline:none;
	float: left;
	background-color: #f1f1f1;
	margin-top: 30px;
	font-size: 18px;
	font-family: "Times New Roman", Times, serif;
	color: black;
	font-weight: bold;
}
.btnGiamSoLuong {
	margin-left: 240px;
	width: 30px;
	height: 30px;
	box-sizing: border-box;
	border: 1px solid grey;
	border-radius: 4px;
	outline:none;
	float: left;
	background-color: #f1f1f1;
	margin-top: 30px;
	font-size: 18px;
	font-family: "Times New Roman", Times, serif;
	color: black;
	font-weight: bold;
}
.soluong{
	margin-top: 30px;
	font-size: 8px;
	font-family: "Times New Roman", Times, serif;
	float: left;
	
}
.btnAdd {
	width: 100px;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 4px;
	outline:none;
	padding: 5px 5px;
	float: right;
}
#header{
	text-rendering: auto;
	background: black;
}
img{
	text-align: center;
	float: left;
}
#left{
	top:0;
	text-align: left;
	float: left;
	width: 30%;
	
}
#middle{
	float: left;
	width: 40%;
	text-align: center;
}
#right{
	top: 0;
	text-align: right;
	float: left;
	width: 30%;
	font-size: 14px;
}
input[type="text"] {
      width: 200px;
      box-sizing: border-box;
      border: 1px solid black;
      border-radius: 4px;
      outline:none;
      padding: 12px 14px;
      transition: 0.6s ease-in-out;
}
body{
	margin: 5px;
	font-family: "Times New Roman", Times, serif;
}
.clear{
	clear: both;
}
*, ::after, ::before{
	box-sizing: inherit;
}
.header-options{
	font-size: .9em;
	list-style: none;
	margin-bottom: 0;
}
.header-options li:first-of-type{
	border: 0;
}
.header-options li{
	border-left: 1px solid #deele3;
	display: inline-block;
	padding: 0 .5em;
}
#headerName{
	width: 20%;
	float: left;
}
#headerViewOrder{
	width: 20%;
	float: left;
}
#headerAddFlowers{
	width: 20%;
	float: left;
}
#headerSignOut{
	width: 20%;
	float: left;
}
#headerSignIn{
	width: 33%;
	float: right;
}
#contact-us{
	width: 33%;
	float: right;
}
#checkout-icon{
	width: 33%;
	float: right;
}
a, a:hover{
	color: #8a979e;
}
.header-options li i{
	display: inline-block;
	font-size: inherit;
	text-rendering: auto;

}
.bar{
	display: none;
}
@media only screen and (max-width: 1300px){
	#headerSignIn{
		display: none;
	}
	#contact-us{
		display: none;
	}
	#checkout-icon{
		display: none;
	}
	.bar{
		text-align:  right;
		display: inline;
	}
}
